:root {
    --primary-color	: #323A36;
    --secondary-color: #D2F1E4;
    --accent1-color	: #4A554E;
    --accent2-color	: #48304D;
    --heading-font: "ubuntu-regular", sans-serif;
    --body-font: "ubuntu-regular", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    font-weight: 300;
}

header {
    background-color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: 400;
}

nav, p, section {
    margin: 16px;
    padding: 8px;
}

footer {
    background-color: var(--secondary-color);
    margin-top: 10px;
}

.foot {
    display: grid;
    align-items: center;
}

.foot p {
    grid-column: 1/3;
    text-align: center;
}

.foot nav {
    grid-column: 3/4;
}


.socialmedia a {
    text-decoration: none;
}

/* Week 05 CSS part */
.head {
   padding: 16px;
   background-color: rgba(200, 215, 200, 0.511);
   opacity: 0.9;
   color: #000; /* white text - make sure there is enough contrast with the background-color */ 
}


h1 {
    border-bottom: 1px solid black;
    margin: 1rem;
    font-size: 1.5em;
    color: #000;
    text-align: center;
}


.navigation {
	display: grid;
    align-items: center;
}

.navigation img {
    grid-column: 1/2;
}

.navigation nav {
	grid-column: 2/3;
}

.anchor {
    display: flex;
    justify-content: space-evenly;
}


.adventure2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure3 {
    grid-column: 1/6;
    text-align: center;
    margin: 0 auto 30px;
}

figure img {
    width: 135px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #888;
    object-fit: cover;
}

.box {
    background-color: rgba(200, 215, 200, 0.511);
}

main {
    margin-top: 15px;
}


